Repository Seoul-Milk-Team5/SM-Frontend, pull requests merged in 2025-02, with the labels that each got.

#4 [feat] #noissue : 라우터 설정
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/index.css
  src/app/routes/.gitkeep
  src/app/routes/routes.tsx
  src/pages/.gitkeep
  src/pages/LoginPage.tsx
  src/pages/MainPage.tsx
  src/pages/MyPage.tsx
Labels: ✨ Feat"

#8 모달 컴포넌트 제작, 배포 자동화
  build.sh
  components.json
  package-lock.json
  package.json
  src/app/routes/routes.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/feature/auth/index.ts
  src/feature/auth/model/index.ts
  src/feature/auth/service/index.ts
  src/feature/auth/ui/PasswordChangeModal.tsx
  src/feature/auth/ui/index.ts
  src/pages/LoginPage.tsx
Labels: 🔧 Chore, ✨ Feat"

#10 [feat] #9 : 로그인 페이지 폼 프레임 구현
  package-lock.json
  src/components/ui/card.tsx
  src/feature/auth/ui/LoginForm.tsx
  src/feature/auth/ui/PasswordChangeModal.tsx
  src/pages/LoginPage.tsx
Labels: ✨ Feat"

#14 [feat] #13: 사이드바 및 비밀번호 validation 구현
  public/logo/Logomark.svg
  shared/ui/Sidebar.tsx
  shared/utils/validation.tsx
  src/app/layouts/Layout.tsx
  src/app/providers/ProtectedRoute.tsx
  src/app/providers/RoleBasedRedirect.tsx
  src/app/routes/routes.tsx
  src/components/ui/input.tsx
  src/feature/auth/ui/LoginForm.tsx
  src/pages/UserPage.tsx
  src/pages/admin/AddUserPage.tsx
  src/pages/admin/MyTaskPage.tsx
  src/pages/admin/WorkViewPage.tsx
Labels: ✨ Feat"

#16 [feat] #11 : data Table UI 구현
  package-lock.json
  package.json
  shared/ui/DataTable.tsx
  shared/ui/DatePickerWithRange.tsx
  src/components/ui/calendar.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/popover.tsx
  src/components/ui/table.tsx
  src/pages/MainPage.tsx
Labels: ✨ Feat"

#20 [Chore] #19 : 패키지 매니저 변경
  package-lock.json
  package.json
  pnpm-lock.yaml
  shared/ui/DataTable.tsx
  src/components/ui/calendar.tsx
Labels: 🔧 Chore

#21 [design] #18 : file drop down 컴포넌트 UI 구조 변경
  shared/ui/FileDndBox.tsx
  src/pages/MainPage.tsx
Labels: 💄 Design

#24 Design/password modal
  public/icon/check.svg
  public/icon/leftArrow.svg
  src/app/routes/routes.tsx
  src/components/ui/input.tsx
  src/feature/auth/ui/LoginForm.tsx
  src/feature/auth/ui/PasswordChangeModal.tsx
  src/feature/auth/ui/index.ts
  src/feature/passwordChange/index.ts
  src/feature/passwordChange/model/index.ts
  src/feature/passwordChange/service/index.ts
  src/feature/passwordChange/ui/Description.tsx
  src/feature/passwordChange/ui/PasswordChangeForm.tsx
  src/feature/passwordChange/ui/Title.tsx
  src/feature/passwordChange/ui/index.ts
  src/pages/PasswordChangePage.tsx
  tailwind.config.js
Labels: 💄 Design, ✨ Feat"

#27 비밀번호 페이지 리팩토링 및 새로운 요구사항 추가
  package.json
  pnpm-lock.yaml
  shared/model/.gitkeep
  shared/model/InputWithButton.type.ts
  shared/model/InputWithLabel.ts
  shared/model/index.ts
  shared/ui/InputWithButton.tsx
  shared/ui/InputWithLabel.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/alert.tsx
  src/components/ui/button.tsx
  src/components/ui/input.tsx
  src/feature/passwordChange/model/PasswordChange.type.ts
  src/feature/passwordChange/model/index.ts
  src/feature/passwordChange/ui/PasswordChangeAlert.tsx
  src/feature/passwordChange/ui/PasswordChangeForm.tsx
Labels: ✨ Feat", ♻️ Refactor
