Repository Seoul-Milk-Team5/SM-Frontend, pull requests merged in 2025-03, with the labels that each got.

#29 메인페이지 디자인 작업 및 api 통신을 위한 밑작업
  .gitignore
  public/icon/noResult.svg
  shared/ui/FileDndBox.tsx
  src/app/layouts/FileLayout.tsx
  src/app/layouts/Layout.tsx
  src/app/providers/AuthProvider.tsx
  src/app/providers/FileProvider.tsx
  src/app/routes/routes.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/pagination.tsx
  src/components/ui/table.tsx
  src/feature/auth/model/LoginRequestBody.type.ts
  src/feature/auth/model/index.ts
  src/feature/auth/service/LoginRequest.ts
  src/feature/auth/service/index.ts
  src/feature/auth/ui/LoginForm.tsx
  src/feature/main/index.ts
  src/feature/main/model/index.ts
  src/feature/main/service/index.ts
  src/feature/main/ui/FileDndBox.tsx
  src/feature/main/ui/FileUploadTable.tsx
  src/feature/main/ui/PageHeader.tsx
  src/feature/main/ui/index.ts
  src/feature/passwordChange/ui/PasswordChangeForm.tsx
  src/pages/MainPage.tsx
  src/pages/SearchFilePage.tsx
  src/pages/admin/AddUserPage.tsx
  src/pages/admin/WorkViewPage.tsx
  src/shared/api/baseHttpClient.ts
  src/shared/api/index.ts
  src/shared/config/.gitkeep
  src/shared/const/.gitkeep
  src/shared/hooks/.gitkeep
  src/shared/model/InputWithButton.type.ts
  src/shared/model/InputWithLabel.ts
  src/shared/model/index.ts
  src/shared/ui/DataTable.tsx
  src/shared/ui/DatePickerWithRange.tsx
  src/shared/ui/InputWithButton.tsx
  src/shared/ui/InputWithLabel.tsx
  src/shared/ui/NavItem.tsx
  src/shared/ui/Navbar.tsx
  src/shared/ui/Sidebar.tsx
  src/shared/utils/cookies.tsx
  src/shared/utils/getFetchHeader.ts
  src/shared/utils/index.ts
  src/shared/utils/validation.tsx
Labels: 💄 Design, ✨ Feat", ♻️ Refactor

#31 RE01페이지 UI 구현
  public/icon/activeDropdown.svg
  public/icon/activeMytask.svg
  public/icon/activeVerification.svg
  public/icon/dropdown.svg
  public/icon/logout.svg
  public/icon/mytask.svg
  public/icon/notice.svg
  public/icon/search.svg
  public/icon/verification.svg
  src/app/layouts/Layout.tsx
  src/components/ui/badge.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/pagination.tsx
  src/components/ui/table.tsx
  src/feature/auth/ui/LoginForm.tsx
  src/feature/searchFile/index.ts
  src/feature/searchFile/model/ApprovalModal.type.ts
  src/feature/searchFile/model/index.ts
  src/feature/searchFile/model/mock/approvalData.tsx
  src/feature/searchFile/model/mock/mockData.tsx
  src/feature/searchFile/service/index.ts
  src/feature/searchFile/ui/ApprovalModal.tsx
  src/feature/searchFile/ui/DataTable.tsx
  src/feature/searchFile/ui/Pagination.tsx
  src/feature/searchFile/ui/index.ts
  src/pages/SearchFilePage.tsx
  src/shared/ui/NavItem.tsx
  src/shared/ui/Sidebar.tsx
  tailwind.config.js
Labels: 💄 Design, ✨ Feat", 🐛 Fix

#33 RE03 모달 구현
  src/components/ui/input.tsx
  src/feature/main/ui/PageHeader.tsx
  src/feature/searchFile/model/EditModal.type.ts
  src/feature/searchFile/model/mock/approvalData.tsx
  src/feature/searchFile/model/mock/unapprovalData.tsx
  src/feature/searchFile/ui/DataTable.tsx
  src/feature/searchFile/ui/EditModal.tsx
  src/pages/SearchFilePage.tsx
Labels: 💄 Design, ✨ Feat"

#34 로그인 기능 구현, 스타일 수정
  src/app/App.tsx
  src/app/index.css
  src/app/layouts/Layout.tsx
  src/app/providers/AuthProvider.tsx
  src/app/providers/ProtectedRoute.tsx
  src/app/routes/routes.tsx
  src/feature/auth/model/LoginApi.type.ts
  src/feature/auth/model/LoginRequestBody.type.ts
  src/feature/auth/model/index.ts
  src/feature/auth/service/LoginRequest.ts
  src/feature/auth/ui/LoginForm.tsx
  src/feature/main/ui/FileDndBox.tsx
  src/feature/main/ui/FileUploadTable.tsx
  src/feature/main/ui/PageHeader.tsx
  src/feature/passwordChange/ui/PasswordChangeAlert.tsx
  src/pages/MainPage.tsx
  src/pages/SearchFilePage.tsx
  src/pages/admin/AddUserPage.tsx
  src/pages/admin/WorkViewPage.tsx
  src/shared/api/baseHttpClient.ts
  src/shared/ui/InputWithButton.tsx
  src/shared/ui/InputWithLabel.tsx
  src/shared/ui/Sidebar.tsx
  src/vite-env.d.ts
  tsconfig.app.json
Labels: 💄 Design, ✨ Feat"

#38 상태 설정 및 디자인 수정
  package.json
  pnpm-lock.yaml
  public/icon/file.svg
  public/icon/gear.svg
  src/app/index.css
  src/app/layouts/Layout.tsx
  src/app/providers/FileProvider.tsx
  src/feature/main/model/SaveFile.type.ts
  src/feature/main/model/index.ts
  src/feature/main/service/SaveFileRequest.ts
  src/feature/main/service/index.ts
  src/feature/main/ui/FileDndBox.tsx
  src/feature/main/ui/FileUploadTable.tsx
  src/feature/main/ui/PageHeader.tsx
  src/shared/ui/DataTable.tsx
  src/shared/ui/ImageModal.tsx
  src/shared/ui/Sidebar.tsx
  src/shared/ui/index.ts
  src/shared/utils/FormatDate.ts
Labels: 💄 Design, ✨ Feat

#45 Feat/verified03
  src/components/ui/input.tsx
  src/feature/searchFile/ui/DataTable.tsx
  src/shared/api/editInvoiceRequest.ts
  src/shared/ui/AuthModal.tsx
  src/shared/ui/AuthModalContent.tsx
  src/shared/ui/EditModal.tsx
Labels: ✨ Feat

#51 메인 기능 예외 처리 & 비밀번호 변경 페이지 API 연결
  src/app/providers/AuthProvider.tsx
  src/feature/main/ui/FileUploadTable.tsx
  src/feature/main/ui/OcrModalContent.tsx
  src/feature/passwordChange/model/PasswordChange.type.ts
  src/feature/passwordChange/service/emailRequest.ts
  src/feature/passwordChange/service/employeeIdRequest.ts
  src/feature/passwordChange/service/index.ts
  src/feature/passwordChange/service/passwordChange.ts
  src/feature/passwordChange/ui/PasswordChangeForm.tsx
  src/shared/api/baseHttpClient.ts
  src/shared/ui/AuthModal.tsx
  src/shared/ui/AuthModalContent.tsx
  src/shared/ui/MilkCartonAnimation.tsx
  src/shared/utils/FormatDate.ts
Labels: ✨ Feat, 🐛 Fix, ♻️ Refactor

#50 Feat/re01fix
  src/app/providers/UserSearchProvider.tsx
  src/components/ui/button.tsx
  src/feature/searchFile/model/EditModal.type.ts
  src/feature/searchFile/ui/DataTable.tsx
  src/feature/user/ui/Searchbar.tsx
  src/feature/user/ui/UserTable.tsx
  src/pages/UserPage.tsx
  src/shared/api/OcrSearchRequest.ts
  src/shared/api/index.ts
  src/shared/model/OcrSearch.type.ts
  src/shared/model/index.ts
  src/shared/ui/AuthModalContent.tsx
  src/shared/ui/DatePickerWithRange.tsx
  src/shared/ui/EditModal.tsx
  src/shared/ui/PreviewModal.tsx
  src/shared/ui/Sidebar.tsx
  src/shared/utils/TruncateFileName.ts
  src/shared/utils/index.ts
Labels: ✨ Feat, 🐛 Fix

#53 마이페이지 구현, 모바일 메인 페이지 삭제
  package.json
  pnpm-lock.yaml
  src/app/providers/AuthProvider.tsx
  src/components/ui/input.tsx
  src/feature/auth/model/LoginApi.type.ts
  src/feature/auth/ui/LoginForm.tsx
  src/feature/main/ui/FileDndBox.tsx
  src/feature/main/ui/OcrModalContent.tsx
  src/feature/mobile/index.ts
  src/feature/mobile/service/index.ts
  src/feature/mobile/ui/index.ts
  src/feature/my/index.ts
  src/feature/my/model/Password.type.ts
  src/feature/my/model/User.type.ts
  src/feature/my/model/index.ts
  src/feature/my/service/Password.ts
  src/feature/my/service/User.ts
  src/feature/my/service/index.ts
  src/feature/my/ui/MyModal.tsx
  src/feature/my/ui/PasswordCheckContent.tsx
  src/feature/my/ui/UserContent.tsx
  src/feature/my/ui/index.ts
  src/pages/MobileMainPage.tsx
  src/shared/api/baseHttpClient.ts
  src/shared/model/InputWithButton.type.ts
  src/shared/model/InputWithLabel.ts
  src/shared/ui/AuthModal.tsx
  src/shared/ui/InputWithButton.tsx
  src/shared/ui/InputWithLabel.tsx
  src/shared/ui/Sidebar.tsx
Labels: 💄 Design, ✨ Feat, ♻️ Refactor

#61 Fix/re wo
  public/icon/activeSearch.svg
  src/app/layouts/Layout.tsx
  src/feature/adduser/ui/AddUserSection.tsx
  src/feature/adduser/ui/ChangeUserRole.tsx
  src/feature/auth/ui/LoginForm.tsx
  src/feature/searchFile/ui/DataTable.tsx
  src/feature/user/ui/Searchbar.tsx
  src/feature/workview/ui/AdminSearchBar.tsx
  src/pages/SearchFilePage.tsx
  src/shared/api/DownloadExcel.ts
  src/shared/model/OcrSearch.type.ts
  src/shared/ui/EditModal.tsx
  src/shared/ui/FormInput.tsx
  src/shared/ui/PreviewModal.tsx
  src/shared/ui/Sidebar.tsx
  src/shared/ui/UserTable.tsx
Labels: 💄 Design, ✨ Feat, 🐛 Fix

#62 QA 진행 후 나온 오류 및 기능 수정
  src/components/ui/button.tsx
  src/components/ui/pagination.tsx
  src/feature/main/service/SaveFileRequest.ts
  src/feature/main/ui/FileDndBox.tsx
  src/feature/main/ui/FileUploadTable.tsx
  src/feature/main/ui/HometaxModalContent.tsx
  src/feature/main/ui/OcrModalContent.tsx
  src/feature/main/ui/PageHeader.tsx
  src/feature/passwordChange/service/passwordChange.ts
  src/feature/passwordChange/ui/PasswordChangeAlert.tsx
  src/feature/passwordChange/ui/PasswordChangeForm.tsx
  src/shared/ui/Alert/ErrorAlert.tsx
  src/shared/ui/Alert/Errorconform.tsx
  src/shared/ui/AuthModal.tsx
  src/shared/ui/AuthModalContent.tsx
  src/shared/ui/MilkCartonAnimation.tsx
  src/shared/utils/FormatTime.ts
Labels: ✨ Feat, 🐛 Fix

#63 [feat] #noissue : confirm modal 연결
  src/feature/searchFile/ui/DataTable.tsx
  src/shared/ui/UserTable.tsx
Labels: ✨ Feat

#64 [fix] #noissue : 페이징 검색 에러 해결
  src/app/providers/UserSearchProvider.tsx
  src/feature/adduser/ui/AddUserSection.tsx
  src/feature/adduser/ui/ChangeUserRole.tsx
  src/feature/user/ui/Searchbar.tsx
  src/shared/api/baseHttpClient.ts
  src/shared/ui/UserTable.tsx
Labels: 🐛 Fix

#69 [fix] #68 : 검색 에러 해결
  src/feature/searchFile/ui/DataTable.tsx
Labels: 🐛 Fix
